*~
bin
obj
*.user
*.suo
*.bak
*.sln.cache
_ReSharper*
Reports
*/build
TestResults
*.pidb
*.usertasks
*.userprefs
*.origtest-resultsdist
*.crunchsolution.cache
*.crunchsolution.local.xml
*.crunchproject.local.xml
